header {
  background-color: rgb(146, 1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
}

header h1 {
  color: #fff;
  font-size: 44px;
  margin: 0;
}
