nav {
  background-color: red;
  width: 100%;
  padding: 1% 0;
}
.navbar-img {
  width: 10%;
}
.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 90%;
  list-style-type: none;
}

.navbar-items li {
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
